.b-selectedM {
  margin: 20px auto;
  width: 80%;
}

.b-movieDesc {
  width: 100%;
  display: flex;
  background: $semiBlack;
}

.b-ticketBook {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__infoText {
    color: $alert-success-bg;

    @include font-size($movie-decs-info-text-font-size);
  }
}

.row {
  margin: 20px -15px;
}

.b-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;
  color:$white;

  p {
    text-indent: 5px;
    margin-left: 5px;
  }

  b {
    color:$oldGold;
  }

  @include  for-size(md) {
    height: 35vw;
  }



  @include for-size(xs) {
    height: 60vw;
  }
}

.b-poster {
  &--movieDesc {
    width:35%;
    height: 70%;
    border: solid 1px $gray-lighter;
  }
}

.b-mainInfo {
  width: 65%;
  height: 70%;
  overflow: hidden;

  &__head {
    text-align: center;
    color: $mediumBlue;
    font-weight: 700;
  }
}

.b-description {
  width: 100%;
  height: 28%;
  margin-top: 2%;
  overflow: hidden;

  &__desc {
    width: 100%;
    height: 100%;
    color: $lightBlue;
    padding-right: 5px;
    text-indent: 30px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.b-timeTable {
  width:100%;

  @include  for-size (sm) {
    height: 60vw;
  }

  @include  for-size(md) {
    height: 35vw;
  }

  @include for-size(xs) {
    height: 60vw;
  }
}

.b-showTime {
  width: 100%;
  height: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px $white;

  &__day {
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: $aquamarine;
    background: $semigreen;

    &:hover {
      background-color: $darkCyan;
    }
  }

  &__time {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color:$coral;
    background-color: $semiPink;
  }
}


