.b-welcome {
  width: 100%;

}

.b-greeting {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: aqua;
}

.gold {
  color: $gold;
}

.b-about-us {
  font-size: 20px;
  color: $darkCyan;

  h2 {
    color:$dark-orange;
  }
}