.b-moviesList {
  &--comingSoon {
    .b-moviesList__header {
      font-family: "Cuprum-Bold", sans-serif;
      height: 60px;
      font-size: 30px;
      justify-content: center;
      color: $gold;
      background: $black;
    }

    .b-movie {
        &:hover {
          border: solid 1px $dark-orange;
      }
    }
  }
}

