.b-moviesList {
  width: 60%;
  margin: 20px auto;
  border: solid 1px $white;
  font-family: "Cuprum", sans-serif;

  &__header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $oldGold;
    background: $black;

    @include font-size($movies-list-head-font-sizes);
  }

  &__today {
    margin-left: 3vw;
  }

  &__date {
    margin-right: 3vw;
    color: $white;
  }

}

.container {
  width: 100%;
}


.b-movie {
  width: 100%;
  margin: 0.3vw 0;
  border: solid 1px $white;

  @include for-size(xs) {
    height: 77vw;
  }

  @include for-size(sm) {
    height: 36vw;
  }

  @include for-size(md) {
    height: 25vw;
  }

  @include for-size(lg) {
    height: 20vw;
  }

  &:hover {
    border: solid 1px $mediumBlue;
  }

  &__title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background: $black;
    opacity: .6;
    font-size: 20px;

    &:hover {
      color: $coral;
      opacity: .8;
    }
  }
}

.b-poster {
  width: 100%;
  height: 80%;

  &__img {
    width: 100%;
    height: 100%;
  }
}
