.b-moviesList {


  &__header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $oldGold;
    background: $black;

    @include font-size($movies-list-head-font-sizes);
  }

  &__today {
    margin-left: 8vw;
  }

  &__date {
    margin-right: 8vw;
    color: $white;
  }

}

.b-movie {
  margin-bottom: 20px;
  border: solid 1px $white;
  height: 420px;

  &:hover {
    border: solid 1px $mediumBlue;
  }

  a:link {
    text-decoration: none;
  }

  &__title {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background: $black;
    opacity: .6;
    font-size: 20px;

    &:hover {
      color: $coral;
      opacity: .8;
    }
  }
}

.b-poster {
  width: 100%;
  height: 85%;
  overflow: hidden;

  &__img {
    width: 100%;
  }
}
