@font-face {
  font-family: "Cuprum";
  src: url("../fonts/CUPRUM/Cuprum-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum-Bold";
  src: url("../fonts/CUPRUM/Cuprum-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Cuprum-Italic";
  src: url("../fonts/CUPRUM/Cuprum-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum-BoldItalic";
  src: url("../fonts/CUPRUM/Cuprum-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}
