//bootstrap/fonts
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

//images
$img_hall: '../assets/images/hall.jpg';

//colors
$gold: gold;
$white: white;
$oldGold:#f0ad4e;
$black: black;

$semiBlack: rgba(0, 0, 0, .2);
$semiWhite: rgba(255, 255, 255, .1);
$coral: coral;
$lightBlue: DodgerBlue ;