.b-main {
  background: $fogging-6, $black url($img_hall_cool)  center fixed no-repeat;
  width: 100vw;
  min-height: 100vh;
}

  .b-header {
    width: 100%;
  }

.container-fluid {
  font-size: 17px;

  .navbar-brand {

    font-size: 36px;
  }

  &--cuprum {
    font-family: "Cuprum", sans-serif;
  }
}

  .b-content {
    width: 100%;
    height: auto;
  }

  .b-footer {
    height: 50px;
  }



