.b-main {
  background: $fogging-6, $black url($img_hall_cool)  center fixed no-repeat;
  min-height: 100vh;
}

.container-fluid {
  font-size: 17px;
 }

.navbar-brand {
    font-size: 36px;
}

  .b-content {

  }

  .b-footer {
    height: 50px;
  }



